*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: url("https://images2.alphacoders.com/132/1325726.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

header{
    display: flex;
    background-color: #ffffffad;
    position: relative;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:20px;
    & h6{
        font-size: 13px;
        font-weight: 500;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        & a{
            color: #000000;
            text-decoration-line: none;
        }
    }
}

section{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    height: 500px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #898989;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #6b6b6b;
}

.container .form .logo{
    transform: translateY(-50px);
    width: 150px;
}

.container .form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user{
    transform: translateY(20px);
    display: flex;
    background-color: transparent;
    width: 200px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #898989;
    color: #fff;

    & input{
        height: 30px;
        width: 170px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        background-color: transparent;
        color: white;
    }
    & img{
        margin: 5px;
        width: 30px;
        height: 30px;
    }
}

.pass{
    transform: translateY(30px);
    display: flex;
    background-color: transparent;
    width: 200px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #898989;
    color: #fff;

    & input{
        height: 30px;
        width: 170px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        color: white;
        background-color: transparent;
        
    }

    & img{
        margin: 3px;
        width: 35px;
        height: 35px;
    }
}

button{
    transform: translateY(55px);
    width: 100px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(196, 196, 196);
}